<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    <div class="left-col">

    </div>
    <div class="main-col">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; 2018 - Andrei Ababei</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bower_components/angular/angular.min.js")
    @RenderSection("scripts", false)
</body>
</html>
